@import "tailwindcss";

:root {
  --background: hsl(20, 6%, 90%);
  --foreground: hsl(0, 0%, 9%);
}
html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(12, 6%, 20%);
    --foreground: hsl(0, 0%, 93%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
